body {
  background: #2d2c3e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  z-index: -1;
  margin: auto;
}

.container {
  display: table;

  width: 100%;
  padding-bottom: 5vh;
  margin: auto auto;
  background: #2d2c3e;
  z-index: -1;
}
.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
}

.icon-container {
  margin-top: 30px;
  width: 100%;
  height: 60px;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 30px;
  overflow: hidden;
}
.icon::before, .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon i {
  position: relative;
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 15px;
  transition: all 0.25s ease;
}

.icon-fill::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #16A085;
}
.icon-fill:hover::before {
  box-shadow: inset 0 0 0 60px #16A085;
}

.icon-enter::after {
  box-shadow: inset 0 0 0 1px #EB9532;
}
.icon-enter::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #EB9532;
}
.icon-enter:hover::before {
  margin-left: 0;
}

.icon-expand::after {
  box-shadow: inset 0 0 0 1px #C82647;
}
.icon-expand::before {
  background: #C82647;
  box-shadow: inset 0 0 0 60px #2d2c3e;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 1px #2d2c3e;
}

.icon-collapse::before {
  border-radius: 0;
}
.icon-collapse:hover::before {
  box-shadow: inset 0 30px 0 0 #8CC63F, inset 0 -30px 0 0 #8CC63F;
}
.icon-collapse::after {
  box-shadow: inset 0 0 0 1px #8CC63F;
}

.icon-rotate {
  box-shadow: inset 0 0 0 1px #7E3661;
}
.icon-rotate::after, .icon-rotate::before {
  border: 0px solid transparent;
}
.icon-rotate:hover::before {
  transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
  border-width: 60px;
  border-top-color: #7E3661;
}
.icon-rotate:hover::after {
  transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
  border-width: 60px;
  border-left-color: #7E3661;
}
.icon-rotate:hover {
  transition: background 0.001s ease 0.3s;
  background: #7E3661;
}
.icon-rotate i {
  z-index: 1;
}




.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 10px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}







